body,html{
    height:100%;
}
body{
    position:relative;
}
.icon-button {
    background: #286090 none repeat scroll 0 0;
    border-radius: 4px 0 0 4px;
    height: 33px;
    line-height: 27px !important;
    margin-right: 12px;
    margin-top: -1px;
    width: 30px;
}
.button-icon {
    border: medium none !important;
    height: 33px !important;
    padding: 0 17px 0 0 !important;
}

.error-form{
    background-color: #d9534f !important;
    color:#d9534f !important;
}