/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/layout/_accueil.scss */
#header .entete-index {
  background: #672494;
  padding: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 8, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle {
  background: #082246 !important;
}
/* line 10, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-haut {
  padding: 10px 7%;
}
/* line 12, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-haut .groupe-icon {
  text-align: right;
}
/* line 14, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-haut .groupe-icon .glyphicon {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
}
/* line 20, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-haut .logo,
#header .entete-page-personnelle .entete-page-personnelle-haut .form-recherche,
#header .entete-page-personnelle .entete-page-personnelle-haut .groupe-icon {
  display: inline-block;
  float: none !important;
  vertical-align: middle;
  width: 32.333%;
}
/* line 28, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-haut .form-recherche {
  height: 35px;
}
/* line 32, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-menu {
  min-height: 40px;
  background: #672494;
}
/* line 35, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-menu .nav-gauche > li > a {
  padding-bottom: 18px !important;
  padding-top: 18px !important;
}
/* line 39, ../scss/layout/_accueil.scss */
#header .entete-page-personnelle .entete-page-personnelle-menu .profil-bar {
  padding: 6px;
  background: #fff;
  border-radius: 50%;
}
/* line 46, ../scss/layout/_accueil.scss */
#header .form-recherche {
  position: relative;
}
/* line 48, ../scss/layout/_accueil.scss */
#header .form-recherche .submit-bouton {
  border: medium none !important;
  border-radius: 0 4px 4px 0;
  height: 34px;
  line-height: 20px;
  padding: 9px;
  position: absolute;
  right: 16px;
  top: 0;
}
/* line 59, ../scss/layout/_accueil.scss */
#header .groupe-connexion {
  float: right;
}
/* line 62, ../scss/layout/_accueil.scss */
#header .profil {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 2em;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

/* line 73, ../scss/layout/_accueil.scss */
.contenu-accueil img {
  width: 100%;
  height: auto;
}

/* line 82, ../scss/layout/_accueil.scss */
.icon-connexion-form {
  text-align: center;
}
/* line 84, ../scss/layout/_accueil.scss */
.icon-connexion-form .icon-content {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  font-size: 45px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 10px;
  width: 100px;
  color: #337ab7;
}
/* line 94, ../scss/layout/_accueil.scss */
.icon-connexion-form h4 {
  font-size: 25px;
}

/* line 98, ../scss/layout/_accueil.scss */
.form-conn-ins {
  margin: auto;
  width: 75%;
  margin-top: 35px;
}
/* line 102, ../scss/layout/_accueil.scss */
.form-conn-ins .form-group {
  margin-bottom: 35px !important;
}
/* line 104, ../scss/layout/_accueil.scss */
.form-conn-ins .form-group .col-sm-1 {
  padding-left: 0px !important;
}
/* line 106, ../scss/layout/_accueil.scss */
.form-conn-ins .form-group .col-sm-1 .tooltip {
  background-color: #d9534f !important;
  color: #fff;
}

/* line 115, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle {
  background: #f4f4f4;
  padding-top: 127px;
  overflow: hidden;
}
/* line 119, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .entete-contenu {
  position: relative;
}
/* line 121, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .entete-contenu img {
  width: 100%;
  height: 260px !important;
}
/* line 125, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .entete-contenu .gerer-photo-profil {
  bottom: 25px;
  color: #fff;
  left: 25px;
  position: absolute;
  z-index: 1;
}
/* line 131, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .entete-contenu .gerer-photo-profil .profil-photo {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  color: #082246;
  font-size: 1.5em;
  padding: 20px;
}
/* line 140, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .sidebar-gauche {
  padding-left: 15px;
  padding-top: 30px;
}
/* line 143, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .sidebar-gauche h4 {
  color: #082246;
  font-size: 1em;
}
/* line 146, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .sidebar-gauche h4 .icon-sidebar {
  background-color: #672494;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8em;
  margin-right: 10px;
}
/* line 155, ../scss/layout/_accueil.scss */
#contenu .contenu-page-personnelle .sidebar-gauche ul {
  margin-left: 30px;
}
