@(formLogin: Form[FormulaireConnexion])
<div id="connexionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="icon-connexion-form">
                    <span class="glyphicon glyphicon-lock icon-content"></span>
                    <h4 class="modal-title">Connexion</h4>
                </div>
            </div>
            <div class="modal-body">
                @helper.form(routes.AuthController.authenticate(), 'class -> "form-horizontal form-conn-ins",'role->"form") {

                @if(formLogin.hasGlobalErrors) {
                    <p class="error">
                        @for(error <- formLogin.globalErrors) {
                            <p>@Messages(error.messages, error.arguments.toArray: _*)</p>
                        }
                    </p>
                }
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" name="email" placeholder="Entrer votre email" value='@formLogin("email").value' required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="motDePasse" placeholder="Entrer votre mot de passe" value='@formLogin("motDePasse").value' required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary form-control" value="Se connecter">
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>