@main("Accueil") {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<div class="logo col-sm-4">
    <div class="logo-image"><span class="glyphicon glyphicon-user"></span> </div>
</div>
<div class="form-recherche col-sm-4">
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Taper votre recherche">
            <button type="submit" class="submit-bouton btn"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
</div>
<div class="groupe-connexion col-sm-3">

</div>

}{
}
