@(membre:Membre)(sidebarGauche: Html)(contenu: Html)(sidebarDroite: Html)
@main("Accueil") {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
<div class="entete-page-personnelle navbar navbar-inverse navbar-fixed-top">
    <div class="entete-page-personnelle-haut">
        <div class="logo col-sm-4">
            <div class="logo-image"><span class="glyphicon glyphicon-user profil"></span> </div>
        </div>
        <div class="form-recherche col-sm-4">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Taper votre recherche">
                    <button type="submit" class="submit-bouton btn"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
        <div class="groupe-icon col-sm-4">
            <span class="glyphicon glyphicon-comment"></span>
            <span class="glyphicon glyphicon-globe"></span>
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </div>
    <div class="entete-page-personnelle-menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav nav-gauche">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Profil</a></li>
                <li><a href="#">Publication</a></li>
                <li><a href="#">Message</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user profil-bar"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-font profil-bar"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Compte</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">Deconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

}{
    <div class="contenu-page-personnelle">
        <div class="sidebar-gauche col-sm-2">
            <div class="parti-sidebar">
                <h4> <span class="glyphicon glyphicon-user icon-sidebar"></span>Groupe</h4>
                <ul>
                    @for(groupe <- membre.getGroupeAppartenances()) {
                        <li>@groupe.getNomGroupe()</li>
                    }
                </ul>

            </div>
            <div class="parti-sidebar">
                <h4> <span class="glyphicon glyphicon-user icon-sidebar"></span>Amis</h4>
                <ul>
                    @for(ami <- membre.getAmities()) {
                        @if(ami.getAccepte()){
                            <li>@ami.getMembreCible()</li>
                        }
                    }
                    @for(ami <- membre.getDemandeAmities()) {
                        @if(ami.getAccepte()){
                            <li>@ami.getMembreSource()</li>
                        }
                    }
                </ul>

            </div>
            @sidebarGauche
        </div>
        <div class="contenu-personnelle col-sm-7">
            <div class="entete-contenu">
                <img class="img-responsive" src='@routes.Assets.versioned("images/couverture.png")' alt="Chania">
                <div class="gerer-photo-profil">
                    <span class="glyphicon glyphicon-user profil-photo"></span>
                    @membre.getParticulier().getPrenom() @membre.getParticulier().getNom()
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
            @contenu
        </div>
        <div class="sidebar-droite col-sm-3">
            @sidebarDroite
        </div>
    </div>
}
